/* 
preferred color: 
secondary: red 
primary: orange
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@keyframes changeBg {
    0% {
        background: url(./images/3-students-on-campus.jpg) center/cover no-repeat;
    }

    25% {
        background: url(./images/Foreign-Students.jpg) center/cover no-repeat;
    }

    50% {
        background: url(./images/education.jpeg) center/cover no-repeat;
    }

    75% {
        background: url(./images/school-sketch.jpeg) center/cover no-repeat;
    }

    100% {
        background: url(./images/cbtshutterstock.jpeg) center/cover no-repeat;
    }

}

button,
select,
.logo {
    cursor: pointer;
}

main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(100deg, #ff0000f3, #ff4400f1);
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background: #444;
    transition: all 0.3s linear;
    z-index: 200;
}

nav.nav-fixed {
    position: fixed;
    top: 0;
    box-shadow: inset 0px 3px #17171743, 0px 3px #0606062b;
}

#welcome-header {
    display: none;
}

#logo {
    width: 150px;
}

#userID-link {
    color: red;
    text-decoration: none;
    text-transform: lowercase;
}

#userID-link:hover {
    text-decoration: dotted;
}

.alert {
    width: 90%;
    position: fixed;
    top: 11%;
    translate: 0 -100%;
    z-index: -200;
    transition: all 0.3s linear;
}

.alert-display {
    display: grid;
    place-items: center;
    padding: 0.7rem;
    background: #fff;
    color: #ff0000;
    font-weight: 500;
    border: 1px solid #ff0000;
    border-radius: 0.3rem;
    z-index: 200;
    translate: 0;
}

#count {
    padding: 0.4rem 0.1rem;
    font: 500 1rem "georgia", "Helvetica Neue", Helvetica, Arial;
}

#container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#container-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.5rem 5rem;
}


#form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
}

#container-article h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
}

#container-article h4 {
    font-size: 0.9rem;
    text-transform: capitalize;
    margin-bottom: 10px;
}

#container-article h4 {
    color: #ff9100;
}

small {
    display: inline-block;
    margin-bottom: 20px;
}

#container-article #registration-form {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background: white;
    padding: 1rem 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 3px -3px 2px #00000043, -3px 3px 2px #00000043;
}

#container-article #registration-form .form-div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#container-article #registration-form .label {
    width: fit-content;
    text-transform: capitalize;
    font-size: 0.95rem;
    color: #000;
    margin-top: 15px;
    padding: 0.2rem;
}

#container-article #registration-form aside {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    border: 0.5px solid #444;
    border-radius: 0.3rem;
}

#container-article #registration-form aside .bi {
    padding: 0 0.5rem;
    height: inherit;
    border-radius: 0.3rem 0 0 0.3rem;
    display: grid;
    place-items: center;
}

#container-article #registration-form input,
#container-article #registration-form select {
    flex: 1;
    height: inherit;
    padding: 0 0.5rem;
    font-size: 0.99rem;
    outline: 0;
    border: 0;
    border-left: 1px solid #444;
    background: transparent;
    color: #444;
    transition: all 0.35s;
}

#container-article #registration-form input::placeholder {
    text-transform: capitalize;
}

textarea {
    resize: none;
    width: 100%;
    height: 200px;
    padding: 0.5rem;
    outline: 0;
    border: 1px solid #444;
    border-radius: 0.3rem;
    color: #444;
}

#container-article #registration-form button {
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    background: #ff0000;
    border-radius: 50rem;
    color: #fff;
    font: 500 1.1rem 'Roboto', sans-serif;
    cursor: pointer;
    transition: all 0.5s;
}

#container-article #registration-form button:hover {
    border-color: #ff0000;
    background: transparent;
    color: #ff0000;
}

#container-article #registration-form button::after {
    content: 'click here to submit';
    width: 200px;
    position: absolute;
    color: #000;
    top: 50%;
    left: 60%;
    translate: 0% -50%;
}

footer {
    width: 100%;
    background: #000000cb;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 30px;
}

footer p {
    text-transform: capitalize;
    font-weight: 600;
    color: #f10a0a;
}

footer img {
    width: 300px;
}

footer ul li {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    list-style: none;
}

footer ul li a:link,
footer ul li a:visited {
    color: #cacaca;
    font: 500 0.89rem "Roboto", sans-serif;
    text-decoration: none;
}

footer ul li a:hover {
    color: #ff0000;
}

@media screen and (min-width: 500px) {
    nav {
        height: 70px;
    }

    nav #logo {
        width: 200px;
    }

    #container-article #registration-form {
        padding: 1.5rem;
    }
}

@media screen and (min-width: 600px) {
    .alert {
        width: 550px;
    }
    #container-article #registration-form {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px 15px;
    }

    .span-two {
        grid-column: 1/-1;
    }

    #form-wrapper {
        animation: changeBg 5s infinite;
        padding: 5rem 0;
    }
}

@media screen and (min-width: 800px) {
    #container-article #registration-form {
        width: 600px;
        padding: 2rem;
    }
}

@media screen and (min-width: 1000px) {}